@import '../../style/variables.scss';

.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .chat-banner {
    background-color: $dark-blue;
    padding: 65px 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: $white;

    .back-to-home-btn {
      svg {
        color: $white;
        background-color: $light-blue;
        padding: 9px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }

    h2 {
      font-size: 32px;
    }
  }

  .chat-msgs {
    .msg-item {
      display: flex;
      gap: 40px;
      border-bottom: 1px solid $dark;
      padding: 40px 30px;

      img {
        width: 100px;
        height: 100px;
      }

      p {
        font-size: 22px;
        color: $grey;
      }
    }
  }

  .add-chat-msg-block {
    display: flex;
    gap: 20px;
    margin-top: auto;
    padding: 15px;
    background-color: $dark;
    align-items: center;
  
    input {
      width: 100%;
      border: none;
      font-size: 24px;
      background: $white;
      padding: 30px 25px;
      border-radius: 4px;
    }
  
    button {
      display: flex;
      border: none;
      background-color: transparent;
      cursor: pointer;
  
      svg {
        color: $white;
        background-color: $light-blue;
        padding: 4px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }
  }
}